---
import Layout from '../layouts/Layout.astro';
import Badge from '../components/Badge.astro';
import LinkedIn from '../components/icons/LinkedIn.astro';
import GitHub from '../components/icons/GitHub.astro';
import SocialPill from '../components/SocialPill.astro';
import Mail from '../components/icons/Mail.astro';
import Experience from '../components/Experience.astro';
import Container from '../components/Container.astro';
import Briefcase from 	'../components/icons/Briefcase.astro';
import Bulb from '../components/icons/Bulb.astro';
import Projects from '../components/Projects.astro';
import Knowledge from '../components/icons/Knowledge.astro';
import KnowledgeTable from '../components/KnowledgeTable.astro';
import ContactForm from '../components/ContactForm.astro';
---

<Layout title="Denzel's Portfolio - Systems Engineer and App Developer."
description="Always looking to surpass my limits, experiences are what make humans improve themselves and I here to be the best version of myself "
>
	<main class="px-4">
		<Container class="py-44 pb-20">
			<img class="rounded-full size-16 object-cover mb-4" src="/img/profilepic.png" alt="my photo">
			<h1 class="text-white text-3xl md:text-4xl lg:text-5xl font-bold flex justify-center flex-row gap-x-4 pb-6 lb:pb-10">
				Hi 👋, I'm Denzel! 
				<a
				href="https://www.linkedin.com/in/denzel-ríos-montenegro-91b3b6295"
				target="_blank"
				rel="noopener"
				class="flex justify-center items-center"
				>
					<Badge>Always Looking for New Challenges!<br>
						(Available for job)
					</Badge>
				</h1>
				</a>
			<h2 class="text-xl lg:text-2xl text-wrap max-w-[700px]">
				<span>Systems Engineer</span>. 
				<span class ="text-blue-200/90 opacity-80">
					Experienced Programmer in web application development, creating and supervising databases, among other features.
					</span>
				<span class="text-red-200/90">
					I'm from San José, Costa Rica 🇨🇷.
				</span>
					<span class="opacity-85">
							I always keep improving my skills with personal projects and also become with more efficient solutions to any problem that I can encounter during coding.
					</span>
					</h2>


					<nav class="flex gap-4 mt-8 flex-wrap">
						
							<SocialPill href="https://www.linkedin.com/in/denzel-ríos-montenegro-91b3b6295">
								<LinkedIn class="size-4 md:size-6"/>
								LinkedIn
							</SocialPill>
							<SocialPill href="https://github.com/andy-rose08">
								<GitHub class="size-4 md:size-6"/>
								GitHub
							</SocialPill>

							<SocialPill href="mailto:leznedrios1208@gmail.com">
								<Mail class="size-4 md:size-6"/>
								leznedrios1208@gmail.com
							</SocialPill>
					</nav>
		</Container>

		<Container id="experience">
			<h2 class="text-2xl font-semibold mb-6 flex gap-x-3 items-center">
				<Briefcase class="size-7"/>
				Work Experience
			</h2>
			<Experience/>
		</Container>

		<Container id="skills">
			<h2 class="text-2xl font-semibold mb-6 flex gap-x-3 items-center">
				<Knowledge class="size-7"/>
				Skills
			</h2>
			<h3 class="text-pretty text-justify mb-3">
				In this area, I'll show some of the skills that I've been acquiring during my travel through the university, it's important to know that most of the technologies in here I learned them by myself, with self-taught.
			</h3>
			<KnowledgeTable/>
			<Container id="contact">
				<h2 class="mt-6 py-5 text-2xl font-semibold mb-6 flex gap-x-3 items-center">
					Contact
				</h2>
				<ContactForm />
		</Container>
		</main>
</Layout>