---
import Layout from '../layouts/Layout.astro';
import Badge from '../components/Badge.astro';
import LinkedIn from '../components/icons/LinkedIn.astro';
import GitHub from '../components/icons/GitHub.astro';
import SocialPill from '../components/SocialPill.astro';
import Mail from '../components/icons/Mail.astro';
import Experience from '../components/Experience.astro';
import Container from '../components/Container.astro';
import Briefcase from 	'../components/icons/Briefcase.astro';
import Code from '../components/icons/Code.astro';
import Projects from '../components/Projects.astro';
import Knowledge from '../components/icons/Knowledge.astro';
import KnowledgeTable from '../components/KnowledgeTable.astro';
import ContactForm from '../components/ContactForm.astro';
import Phone from '../components/icons/Phone.astro';
import WhatsApp from '../components/icons/WhatsApp.astro';
---

<Layout title="Denzel's Portfolio - Systems Engineer and App Developer."
description="Always looking to surpass my limits, experiences are what make humans improve themselves and I here to be the best version of myself ">
	<main class="px-4 text-white bg-black">
		<Container class="pt-20 pb-20 md:pt-44">
			<img class="rounded-full w-32 h-32 md:w-40 md:h-40 lg:w-48 lg:h-48 object-cover mx-auto mb-8" src="/img/profilepic.png" alt="Denzel's Photo">
			<h1 class="text-3xl md:text-4xl lg:text-5xl font-bold text-center pb-4">
				Hi 👋, I'm Denzel!
				<a href="https://www.linkedin.com/in/denzel-ríos-montenegro-91b3b6295" target="_blank" rel="noopener noreferrer" class="block mt-2 text-cyan-400 hover:text-cyan-300">
					Always Looking for New Challenges! (Available for job)
				</a>
			</h1>
			<p class="text-center text-xl lg:text-2xl max-w-4xl mx-auto">
				<span>Systems Engineer</span> and <span class="text-cyan-400 ">Experienced Programmer</span><span class="text-shadow-purple"> in web application development</span>. <span class="text-purple-400">I'm from San José, Costa Rica 🇨🇷.</span>
				<br class="hidden md:block">
				<span><span class="text-shadow-purple">Always eager to improve my skills</span> and find efficient solutions.</span>
			</p>

			<nav class="flex justify-center gap-4 mt-8 flex-wrap">
				<!-- SocialPill components here -->
				<SocialPill href="https://www.linkedin.com/in/denzel-ríos-montenegro-91b3b6295">
					<LinkedIn class="size-4 md:size-6"/>
					LinkedIn
				</SocialPill>
				<SocialPill href="https://github.com/andy-rose08">
					<GitHub class="size-4 md:size-6"/>
					GitHub
				</SocialPill>
				<SocialPill href="mailto:leznedrios1208@gmail.com">
					<Mail class="size-4 md:size-6"/>
					leznedrios1208@gmail.com
				</SocialPill>
				<SocialPill href="tel:+50688130229">
					<Phone class="size-4 md:size-6"/>
					Call Me!
				</SocialPill>
				<SocialPill href="https://wa.me/50688130229">
					<WhatsApp class="size-4 md:size-6"/>
					WhatsApp Me!
				</SocialPill>
			</nav>
		</Container>

		<Container id="experience" class="mt-12">
			<h2 class="text-2xl font-semibold mb-6 flex gap-x-3 items-center">
				<Briefcase class="size-7"/>
				<span class="text-shadow-purple">Work Experience</span>
			</h2>
			<Experience/>
		</Container>

		<Container id="projects">
			<h2 class="text-2xl font-semibold mb-6 flex gap-x-3 items-center">
				<Code class="size-7"/>
				Projects - You can access them by clicking their name or the image below
			</h2>
			<Projects/>
		</Container>

		<Container id="skills">
			<h2 class="text-2xl font-semibold mb-6 flex gap-x-3 items-center">
				<Knowledge class="size-7"/>
				Skills
			</h2>
			<h3 class="text-pretty text-justify mb-3">
				In this area, I'll show some of the skills that I've been acquiring during my travel through the university, it's important to know that most of the technologies in here I learned them by myself, with self-taught.
			</h3>
			<KnowledgeTable/>
		</Container>

		<Container id="contact">
			<h2 class="mt-6 py-5 text-2xl font-semibold mb-6 flex gap-x-3 items-center">
				<ContactForm />
			</h2>
		</Container>
	</main>
</Layout>
