<form id="form" class="w-full max-w-lg mx-auto" method="POST">
  <input type="hidden" name="access_key" value="e147c495-eda8-4fbb-9696-0bb202010738">

  <div class="flex flex-wrap -mx-3 mb-6">
    <div class="w-full px-3 mb-6 md:mb-0">
      <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="name">
        Name
      </label>
      <input class="appearance-none block w-full bg-gray-700 text-white border rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-stone-500" id="name" name="name" type="text" placeholder="Your Name" required>
    </div>
    <div class="w-full px-3 mb-6 md:mb-0">
      <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="email">
        Email
      </label>
      <input class="appearance-none block w-full  bg-gray-700 text-white border rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-stone-500" id="email" name="email" type="email" placeholder="you@example.com" required>
    </div>
    <div class="w-full px-3">
      <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="subject">
        Subject
      </label>
      <input class="appearance-none block w-full  bg-gray-700 text-white border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-stone-500 focus:border-gray-500" id="subject" name="subject" type="text" placeholder="Subject" required>
    </div>
    <div class="w-full px-3">
      <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2 mt-2" for="message">
        Message
      </label>
      <textarea class=" no-resize appearance-none block w-full  bg-gray-700 text-white border border-gray-200 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-stone-500 focus:border-gray-500 h-48 resize-none" id="message" name="message" required></textarea>
    </div>
    <div class="w-full flex items-start md:w-full px-3">
      <div class="flex items-start w-1/2 text-gray-700 px-2 mr-auto">
        <svg fill="none" class="w-6 h-6 text-gray-600 mr-1" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7"></path>
        </svg>
        <p class="text-xs md:text-sm pt-px">Some features will be added soon</p>
      </div>
      <div class="-mr-1">
        <input type='submit' class="flex-auto text-white bg-indigo-500 border-0 py-2 px-6 focus:outline-none hover:bg-indigo-600 rounded text-lg" value='Submit'>
      </div>
    </div>
  </div>
</form>

<script is:inline>
  const form = document.getElementById('form');
  const result = document.createElement('div');
  form.appendChild(result);
  
  form.addEventListener('submit', function(e) {
      const formData = new FormData(form);
      e.preventDefault();
  
      const object = Object.fromEntries(formData);
      const json = JSON.stringify(object);
  
      result.innerHTML = "Please wait..."
  
      fetch('https://api.web3forms.com/submit', {
              method: 'POST',
              headers: {
                  'Content-Type': 'application/json',
                  'Accept': 'application/json'
              },
              body: json
          })
          .then(async (response) => {
              let json = await response.json();
              if (response.status == 200) {
                  result.innerHTML = json.message;
                  window.location = window.location; // This line is added.
              } else {
                  console.log(response);
                  result.innerHTML = json.message;
              }
          })
          .catch(error => {
              console.log(error);
              result.innerHTML = "Something went wrong!";
          })
          .then(function() {
              form.reset();
              setTimeout(() => {
                  result.style.display = "none";
              }, 3000);
          });
  });
</script>
