<header class="flex justify-center items-center px-5 py-5 w-full xl:w-[1120px] mx-auto">
  <nav class="flex flex-col md:flex-row gap-x-10 opacity-90">
    <a href="#" class="px-3 py-2 rounded-md text-sm font-medium">Home</a>
    <a href="#about" class="px-3 py-2 rounded-md text-sm font-medium">About</a>
    <a href="#experience" class="px-3 py-2 rounded-md text-sm font-medium">Experience</a>
    <a href="#skills" class="px-3 py-2 rounded-md text-sm font-medium">Knowledge</a>
    <!-- <a class="disabled" href="#projects">Projects</a> -->
    <a href="#contact" class="px-3 py-2 rounded-md text-sm font-medium">Contact</a>
  </nav>
</header>
