<header class="flex justify-center items-center px-5 py-5 w-full xl:w-[1120px] mx-auto bg-black bg-opacity-90">
  <nav class="flex flex-col md:flex-row gap-x-10 opacity-90">
    <a href="#" class="px-3 py-2 rounded-md text-sm font-medium text-white hover:text-cyan-400 transition duration-300">Home</a>
    <a href="#about" class="px-3 py-2 rounded-md text-sm font-medium text-white hover:text-cyan-400 transition duration-300">About</a>
    <a href="#experience" class="px-3 py-2 rounded-md text-sm font-medium text-white hover:text-cyan-400 transition duration-300">Experience</a>
    <a href="#skills" class="px-3 py-2 rounded-md text-sm font-medium text-white hover:text-cyan-400 transition duration-300">Knowledge</a>
    <a href="#projects" class="px-3 py-2 rounded-md text-sm font-medium text-white hover:text-cyan-400 transition duration-300">Projects</a>
    
    <a href="#contact" class="px-3 py-2 rounded-md text-sm font-medium text-white hover:text-cyan-400 transition duration-300">Contact</a>
  </nav>
</header>
