<div class="overflow-x-auto">
  <table class="min-w-full divide-y divide-gray-200 mx-auto w-full md:w-1/2">
    <slot></slot>
  </table>
</div>

<style>
  @media (max-width: 640px) {
    table {
      display: block;
      overflow-x: auto;
      white-space: nowrap;
    }
    table > *, table tr, table td, table th {
      display: inline-block;
    }
    table thead {
      display: none;
    }
    table tbody tr {
      height: auto;
      padding: 0.5rem;
      line-height: 1.375rem;
      border-width: 0;
    }
    table tbody tr td {
      border-bottom: 1px solid #dee2e6;
      box-sizing: border-box;
      margin-bottom: 0.625rem;
      padding: 0 0.625rem;
      hyphens: auto;
      -moz-hyphens: auto;
      -webkit-hyphens: auto;
      word-wrap: break-word;
    }
    table tbody tr td:last-child {
      border-bottom-width: 0;
    }
  }
  @media (min-width: 641px) and (max-width: 1024px) {
    table {
      width: 100%;
    }
    table tbody tr td {
      padding: 0.5rem;
    }
  }
  @media (min-width: 1025px) {
    table {
      width: 50%;
      margin: auto;
    }
    table tbody tr td {
      padding: 1rem;
    }
  }
</style>
